# ignore from esp32
demesh/sdkconfig
demesh/sdkconfig.old
demesh/build


# ignore emacs backups
*~

# ignore c build
ctrl22c/*.map
ctrl22c/*.elf
ctrl22c/*.o

# osx irritations
**/.DS_Store

# KiKad
circuit/**/*.kicad_pcb-bak
circuit/**/*.sch-bak
circuit/**/*.bck
circuit/**/fp-info-cache
circuit/**/*-cache.lib 

# local archive
local