# ignore from esp32
demesh/sdkconfig
demesh/sdkconfig.old
demesh/build


# ignore emacs backups
*~

# ignore c build
ctrl22/*.bin
ctrl22/*.hex
ctrl22/*.map
ctrl22/*.elf
ctrl22/*.o

# osx irritations
**/.DS_Store

# KiKad
circuit/KiCad/*.kicad_pcb-bak
circuit/KiCad/*.sch-bak

# local archive
local